@font-face {
    font-family: nmber;
    src: url("digital-dream/numbers.ttf");
}

body{
    background: rgb(193,13,74);
background: linear-gradient(90deg, rgba(193,13,74,1) 46%, rgba(179,0,255,1) 84%);
position: relative;
display: flex;
justify-content: center; 
 align-items: center;
 height: 100vh;

}
.heading{
    top: 45px;
    position: absolute;
}
#date{
    font-family:nmber;
}
#year{
    font-family:nmber;
}
.calender{

    display: flex;
    justify-content: space-around;
    align-items: center ;
    height: 300px;
    width: 500px;
    border: 3px solid white;
    border-radius: 10px;
}
.left{
    background-color: white;
    height: 100%;
    width: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.right
{
    width: 50%;
    height: 100%;
    background-color: rgb(114, 73, 153);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
}
p{
    font-size: 28px;
    font-weight: bolder;
}

@media(min-width:1024px){
    .heading{
        font-size: 45px;
        top: 80px;
    }
}